.post-meta { }
.post-tags { }
.post-description { }

.post-title {
	display: inline-block
}

.post-title a {
	text-decoration: none;
}

.post-date {
	padding-left: 10px;
}

.post-content {
	padding-top: 10px
}
