@import 'sizes';

@import 'grid-container';

.row {
	box-sizing: border-box;
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
	margin-right: var(--gutter-compensation, -0.5rem);
	margin-left: var(--gutter-compensation, -0.5rem);
}

.row.reverse {
	flex-direction: row-reverse;
}

.col {
	flex-direction: column;
}

.col.reverse {
	flex-direction: column-reverse;
}
