<div class="pagination">
	<div class="pagination-buttons min-textbox">
		{{ if .Paginator.HasPrev }}
			<span class="pagination-btn-previous">
			<a href="{{ .Paginator.Prev.URL }}">
				<span class="button-icon">←</span>
				<span class="button-text">{{ $.Site.Params.newerPosts | default "Newer posts" }}</span>
			</a>
			</span>
		{{ end }}
		{{ if .Paginator.HasNext }}
			<span class="pagination-btn-next">
			<a href="{{ .Paginator.Next.URL }}">
				<span class="button-text">{{ $.Site.Params.olderPosts | default "Older posts" }}</span>
				<span class="button-icon">→</span>
			</a>
			</span>
		{{ end }}
	</div>
</div>
